body {
  background-color: #AAAAAA;
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 5% 15%
}

p {
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

h1 {
  border-bottom: 1px solid #111111;
}

h4 {
  border-bottom: 1px solid #111111;
}

h5 {
  line-height: 1px
}

h6{
  line-height: 1px
}
.image {
  position: relative;
  border: 1px solid #AAAAAA;
}

img {
  max-width: 25%;
  height: auto;
  position: absolute;
  margin: -2% 75%;
}

.exp-header{
  text-align: center;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  background-color: #CCCCCC
}
